.Tracklist {
    width: 100%;
}

.Track {
    border-bottom: 1.75px dashed #0ab791;
    display: flex;
    align-items: left;
    justify-content: space-around;
    margin: 0.5rem 0 0.5rem 0;
    color: #fff;
    font-size: 1rem;
}

.Track button {
    cursor: pointer;
    align-items: right;
    padding-left: 3rem;
    margin-left: 3rem;
    font-size: 1rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}